.stall-list{
    padding: 20px;
    max-width: 500px;
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
}
.back-button{
    /*Positioning*/
    position: fixed;
    bottom: 20px;
    left:0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    /*Colors and Shapes*/
    background-color: #31b384;
    color: black;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    /*Sizing and shape*/
    width: 120px;
    padding: 5px 0;
    border-radius: 20px;
    height: 40px;
    /*Alignment*/
    display: flex;
    align-items: center;
    justify-content: center;
}
#stall-list-page{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}
.store-card{
    display: flex;
    align-items: center;
    border: 2px solid black;
    border-radius: 20px;
    padding: 15px;
}
.image-box{
    width: 80px;
    height: 80px;
    border: 1px solid #000;
    border-radius: 20px;
    overflow: hidden;
    flex-shrink: 0;
    margin-right: 15px;
}
.store-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.store-name{
    font-size: 1.5rem;
    color: #333;
    margin: 4px 0 0 0;
}
.store-unit{
    display: flex;
    flex-direction: column;
}
.stall-card{
    display: flex;
    align-items: center;
    border: 2px solid black;
    border-radius: 15px;
    height: 100px;
    text-decoration: none;
    color: black;
    background-color: white;
    overflow: hidden;
}
.review-button{
    border: none;
    padding: 8px 8px 48px 48px;
    align-self: flex-start;
    margin-left: auto;
    font-size: 10px;
    font-weight: bold;
    background-color: #5dbb91;
    clip-path: polygon(100% 0, 0 0, 100% 100%);
}
