/* Home Page (Assignment.html) */
.top-nav{
    background-color: #f2f2f2;
    display:flex;
    justify-content: space-between;
    padding: 20px 30px;
    font-size: 40px;
}
.header-right{
    display:flex;
    align-items: center;
    gap: 40px;
}
.shelf1{
    justify-content: space-between;
    padding-right: 15px;
    margin-bottom: 12px;
    display: flex;
    align-items:center;
}
.see-all{
    color: black;
    text-decoration: none;
    font-size: 15px;
}
.orange-section{
    background-color: #31b384;
    padding: 2px 0px 6px 6px;
    margin-top: 10px;
}
.cuisines{
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding-bottom: 10px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}
.food{
    min-width: 120px;
    position: relative;
    height: 120px;
    flex: 0 0 auto;
}
.food img{
    width: 120px;
    height: 120px;
    border-radius: 12px;
    object-fit: cover;
    display: block;

}
.label{
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    color: white;
    font-size: 10px;
    text-align: center;
    padding: 4px 0;
    margin: 0;
    border-radius: 12px;
    width: 120px;
}
.bottom-nav{
    background-color: #f2f2f2;
    display:flex;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    padding: 10px 0;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
}
.nav-items{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.homeicon{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 1;
    background-color: lightgrey;
}
.hawkericon{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 1;
}
.ordericon{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 1;
}
.gearicon{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 1;
}
.fa{
    font-size: 24px;
    margin-bottom: 2px;
}
.iconname{
    margin: 0;
    font-size: 12px;
    font-weight: bold;
    font-family: Arial, sans-serif;
}
.content-area{
    padding-bottom: 100px;
}
@media screen and (max-width: 480px){
    .top-nav{
    padding: 10px 20px;
    font-size: 20px;
    }
    .header-right{
    gap: 20px;
    }
    .food{
    min-width: 120px;
    height: 120px;
    width: 120px;
    }
    .food img{
    min-width: 120px;
    height: 120px;
    width: 120px;
    }
    .label{
    width: 100px;
    font-size: 10px;
    }
    .bottom-nav{
        width: 100%;
        left: 0;
        right: 0;
    }
    .iconname{
        font-size: 10px;
    }
}