.top-nav{
    background-color: #f2f2f2;
    display:flex;
    justify-content: space-between;
    padding: 20px 30px;
    font-size: 40px;
}

.header-right{
    display:flex;
    align-items: center;
    gap: 20px;
}