* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #f5f6f8;
    padding: 40px;
}

/* "Placeholder Hawker" at top */
#review-header {
    width: 100%;
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 24px;
}


/* ================ */
/* Entire Container */
/* ================ */
#review-summary-container {
    background-color: #fff;
    border-radius: 16px;
    padding-bottom: 25px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
    overflow: hidden;
}

/* ============= */
/* Top Container */
/* ============= */
#top-container {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #5dbb91;
}

/* Example arrow box */
#top-container::before {
    content: "←";
    display: flex;

    align-items: center;
    justify-content: center;
    width: 30px;
    height: 25px;
    border-radius: 5px;
    background-color: #f0f0f0;
    font-size: 20px;
    margin: 20px;
    padding: 2.5px;
    cursor: pointer;
    box-shadow: 0 0px 15px rgba(0, 0, 0, 0.2);
}



#information-container {
    display: flex;
    gap: 32px;
}


/* ============== */
/* Left Container */
/* ============== */
#left-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    width: 50%;
    padding-left: 12px;
    padding-right: 12px;
}

#review-stall-top h2 {
    font-size: 2.5rem;
    text-align: center;
}

#review-location {
    color: #666;
    font-size: 0.9rem;
    text-align: center;
    margin-bottom: 25px;
}

figure{
    align-self: center; 
    width:100%;
    text-align: center;
    margin-top: 25px;
}

#review-stall-image {
    width: 375px;
    height: 375px;
    border-radius: 12px;
    object-fit: cover;
    align-self: center;
}


/* =============== */
/* Right Container */
/* =============== */
#right-container {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-left: 50px;
    padding-right: 50px;
    margin-right: 60px;
    align-items: center;
    justify-content: space-between;
    background-color: lightgray;
    border-radius: 25px;
}

/* Rating summary */
#rating-top {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 0px;
}
#rating-summary-number {
    margin-top: 40px;
    margin-bottom: 0px;
    font-size: 5rem;
    font-weight: bold;
}
#rating-summary-total {
    margin-top: 10px;
    font-size: 0.9rem;
    color: #666;
}

/* Rating bars */
#rating-bars {
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 66px;
    gap: 8px;
}

.star-wrapper{
    display: inline-block;
    position: relative;
    width: 25px;
    height: 22px;
    overflow: hidden; 
    margin: 0px 1px;
    vertical-align: middle;
}

.star-empty{
    color: #eeeeee; 
    font-size: 22px;
}

.star-fill{
    color: orange;
    font-size: 22px;
    position: absolute;
    left: 0;
    width: 0%; 
    overflow: hidden;
}

.rating-row {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    
}

.star {
    width: 16px;
    font-size: 1.5rem;
}

.bar {
    flex: 1;
    height: 12px;
    width: 100%;
    max-width: 6000px;
    background-color: #e0e0e0;
    border-radius: 10px;
    margin: 12px 0;
    /* overflow: hidden; */
}

.bar-fill {
    height: 100%;
    background-color: #f4b400;
    width: 0;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}

/* Hover to show rating */
.bar-fill::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 125%;  /* above the bar */
    left: 50%;
    transform: translateX(-50%);
    background-color: #5dbb91;
    color: black;
    padding: 5px 8px;
    border-radius: 6px;
    font-size: 0.75rem;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease;
}

.bar-fill::before {
    content: "";
    position: absolute;
    bottom: 44%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: #5dbb91 transparent transparent transparent;
    opacity: 0;
    transition: opacity 0.2s ease;
}

.bar-fill:hover::after,
.bar-fill:hover::before {
    opacity: 1;
}


/* ================ */
/* Bottom Container */
/* ================ */
#bottom-container{
    margin-top: 30px;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 100%;
    /* background-color: lightgray; */
}

#review-button {
    background-color: #1e88e5;
    color: #fff;
    border: none;
    border-radius: 12px;
    padding: 16px 30px;
    margin: 10px 0px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
}

#review-button:hover {
    background-color: #1565c0;
}

@media screen and (max-width: 1080px){
    #information-container{
        flex-direction: column;
        align-items: center;
    }

    #left-container{
        margin-top: 12px;
    }
    figure{
        width: 100%;
        margin-top: 0px;
        text-align: center;
        max-width: 375px;
        aspect-ratio: 1 / 1;
        margin: 0 auto;
    }
    #review-stall-image {
        width: 100%;
        height: 100%;
        border-radius: 12px;
        object-fit: cover;
        align-self: center;
        margin: 0px auto;
    }

    #right-container{
        width: 90%;
        max-width: 500px;   
        margin: 0px auto;   
        margin-top: 24px;
        padding: 24px;
        padding-bottom: 0px;        
        border: 1px solid black;
    }

    #rating-summary-number{
        margin-top: 12px
    }

    #rating-summary-number{
        font-size: 4rem;
    }

    #rating-summary-total{
        margin-bottom: 24px;
    }
}

